@{
    Layout = "";

}
<link href="~/css/sb-admin-2.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />

<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/Scripts/umd/popper.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />*@
@*<script src="https://code.jquery.com/jquery-3.6.0.js"></script>*@
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
<script src="https://unpkg.com/vuejs-datepicker"></script>
<script src="~/asset/script/thaibath.js"></script>


<style>
    .flex {
    display:flex;

    }
    .flex-a {
    width:50%;
    }
    .flex-b {
    width:50%

    }
    .flex-a-a {
    width: 30%
    }
    .flex-a-b {
        width: 80%;
        font-size: 17px;
        margin-top: 6px;
       
       /* background-color: yellow*/
        
    }
    .flex-detail-a {
    width: 100%
    
    }
    .flex-c-a {
    width: 60%
    
    }
    .flex-c-b {
        width: 40%
    }
    .flex-c-a-a {
    width:100%
    }
    .tda {
        padding: 2px !important;
    }
</style>
<div>
    <div style="color:red;font-size:25px;width: 100%;text-align: right;padding-right:55px">ORIGINAL</div>
    <div style="text-align:center;">
        <img src="~/asset/img/logobbnew.png" style="width:35%;background-color:yellow" />
    </div>
    <div style="font-size:18px;white-space:pre-line;padding: 0px 35px;margin: 0px !important">
        556/29-30 หมู่บ้าน บ่อวินนคร 2 ม.3 ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี 20230
        556/29-30 Bowin Nakorn 2 Village Moo 3 , Bowin  Sub-district, Si racha District, Chonburi Province 20230
        Tel. 065-9459882 , 098-227684
        Tax ID 0-2055-65027-74-6
    </div>
    <div style="text-align:center;margin: 0px !important">

        <h2>RECEIPT / TAX INVOICE</h2>

    </div>
    <div class="flex" style="font-size: 20px; margin-top: 10px; margin-left: 0px !important; max-height: 180px">
        @{ var date = "";}
        @foreach (var dat in ViewBag.dt_rw)
        {
            date = dat.Datereceive;
            <div class="flex-a" style="background-color: #8adefa; ">
                <div style="margin: 10px 35px ">
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">CUSTOMER</div>
                        <div class="flex-a-b">@dat.Cusname</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">ADDRESS</div>
                        <div class="flex-a-b">@dat.Address</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">TAX ID</div>
                        <div class="flex-a-b">@dat.TaxID</div>
                    </div>
                </div>

            </div>
            <div style="width:2%"></div>
            <div class="flex-b" style="background-color: #8adefa;">
                <div style="margin: 10px 35px ">
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">NO</div>
                        <div class="flex-a-b">@dat.InvID</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">DATE</div>
                        <div class="flex-a-b">@dat.Datereceive</div>
                    </div>
                    @*<div class="flex">
                            <div class="flex-a-a">TAX ID</div>
                            <div class="flex-a-b"></div>
                        </div>*@

                </div>
            </div>

        }




    </div>
    <div class="flex" style="margin-top: 10px; ">
        <div class="flex-detail-a">
            <div>
                <table style="width: 100%; " class="table table-bordered">
                    <tr style="background-color: #8adefa">
                        <th style="width:10px;text-align:center">No</th>
                        <th style="width:400px;">Description</th>

                        @*<th>Service</th>*@

                        <th style="width:30px">Amount(Baht)</th>
                    </tr>
                    <tr style="height: 620px">
                        <td style="width: 10px; text-align: center">
                            @{ var i = 1; var sum = 0;}

                            @i
                        </td>
                        <td style="width:50px">
                            Health Check Service <br />(
                            @foreach (var dat in ViewBag.dt_rw)
                            {

                                @dat.InvDate


                            }
                            )
                        </td>

                        @*<td style="width:150px">
                        @foreach (var dat in ViewBag.dt_rwb)
                        {

                            @dat.Service<br />


                        }
                    </td>*@

                        <td style="width:30px;text-align:center">
                            <br />
                            @foreach (var dat in ViewBag.dt_rwb)
                            {



                                sum += dat.Amount;
                            }
                            @sum.ToString("#,##.00")
                        </td>

                    </tr>
                </table>
            </div>
            <div class="flex" style="background-color:#8adefa;font-size:20px">
                <div style="text-align:right;width:100%;margin-right: 35px">Total Price: @sum.ToString("#,##.00")</div>
            </div>
            <span style="font-size: 14px;margin-top: 6px;margin-left: 40px">PAYMENT METHOD</span><br />
            <div class="flex" style="padding: 0px 40px ;margin-top: 4px">

                <table class="table table-bordered" style="font-size: 14px;text-align:center;margin-bottom: 1px !important">
                    <thead>
                        <tr>
                            <td class="tda" style="width: 240px;">BANK</td>
                            <td class="tda" style="width: 460px;">ACCOUNT NAME</td>
                            <td class="tda">ACCOUNT NUMBER</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="tda" style="">KBANK</td>
                        <td class="tda">BB SAHACLINIC</td>
                        <td class="tda">133-2-98645-3</td>
                    </tr>
                </table>
            </div>
            <div class="flex" style="padding: 0px 35px ;">
                @*<div class="flex-c-a" style="text-align: left !important; font-size: 20px; margin-top: 30px;background-color:red">
                <span>PAYMENT METHOD</span>
                <div class="flex mt-2">
                    <i class="fa fa-address-card" style="margin-right: 14px; color: #8adefa;margin-top: 6px "></i>
                    <div class="flex-c-a-a"><span>KBANK, NAME: BB SAHACLINIC </span><span>, ACC NO. 133-2-98645-3 </span></div>
                </div>
                <div class="flex mt-2">
                    <i class="fa fa-phone fa-flip-horizontal" style="margin-right: 20px; color: #8adefa; margin-top: 5px"></i>
                    <div class="flex-c-a-a"><span>065-9459882 , 098-227684</span></div>
                </div>
                <div class="flex mt-2">
                    <i class="fa fa-envelope" style="margin-right: 20px; color: #8adefa; margin-top: 5px "></i>
                    <div class="flex-c-a-a"><span>sahaclinic.bb@gmail.com</span></div>
                </div>

            </div>*@


                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:12%;top: 1285px;left:130px" />*@
                    <div>........................................</div>
                    <span style="font-size: 14px; position: absolute; left: 155px">@date</span>
                    <div>(........................................)</div>
                    <span>Receiver</span>
                </div>

                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:20%;top: 1200px;right:120px" />*@
                    <div>........................................</div>
                    @*<span style="font-size: 14px; position: absolute; right: 165px">@date</span>*@
                    <div>(........................................)</div>
                    <span>Receiver Bill</span>
                </div>


                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:20%;top: 1200px;right:120px" />*@
                    <div>........................................</div>
                    @*<span style="font-size: 14px; position: absolute; right: 165px">@date</span>*@
                    <div>(........................................)</div>
                    <span>
                        Payment schedule
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>



<div style="page-break-before: always">
    <div style="color:red;font-size:25px;width: 100%;text-align: right;padding-right:55px">COPY</div>
    <div style="text-align:center;">
        <img src="~/asset/img/logobbnew.png" style="width:35%;background-color:yellow" />
    </div>
    <div style="font-size:18px;white-space:pre-line;padding: 0px 35px;margin: 0px !important">
        556/29-30 หมู่บ้าน บ่อวินนคร 2 ม.3 ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี 20230
        556/29-30 Bowin Nakorn 2 Village Moo 3 , Bowin  Sub-district, Si racha District, Chonburi Province 20230
        Tel. 065-9459882 , 098-227684
        Tax ID 0-2055-65027-74-6
    </div>
    <div style="text-align:center;margin: 0px !important">

        <h2>RECEIPT / TAX INVOICE</h2>

    </div>
    <div class="flex" style="font-size: 20px; margin-top: 10px; margin-left: 0px !important; max-height: 180px">
        @{ var datec = "";}
        @foreach (var dat in ViewBag.dt_rw)
        {
            date = dat.Datereceive;
            <div class="flex-a" style="background-color: #8adefa; ">
                <div style="margin: 10px 35px ">
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">CUSTOMER</div>
                        <div class="flex-a-b">@dat.Cusname</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">ADDRESS</div>
                        <div class="flex-a-b">@dat.Address</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">TAX ID</div>
                        <div class="flex-a-b">@dat.TaxID</div>
                    </div>
                </div>

            </div>
            <div style="width:2%"></div>
            <div class="flex-b" style="background-color: #8adefa;">
                <div style="margin: 10px 35px ">
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">NO</div>
                        <div class="flex-a-b">@dat.InvID</div>
                    </div>
                    <div class="flex">
                        <div class="flex-a-a" style="text-decoration:underline">DATE</div>
                        <div class="flex-a-b">@dat.Datereceive</div>
                    </div>
                    @*<div class="flex">
                            <div class="flex-a-a">TAX ID</div>
                            <div class="flex-a-b"></div>
                        </div>*@

                </div>
            </div>

        }




    </div>
    <div class="flex" style="margin-top: 10px; ">
        <div class="flex-detail-a">
            <div>
                <table style="width: 100%; " class="table table-bordered">
                    <tr style="background-color: #8adefa">
                        <th style="width:10px;text-align:center">No</th>
                        <th style="width:400px;">Description</th>

                        @*<th>Service</th>*@

                        <th style="width:30px">Amount(Baht)</th>
                    </tr>
                    <tr style="height: 620px">
                        <td style="width: 10px; text-align: center">
                            @{ var ic = 1; var sumc = 0;}

                            @ic
                        </td>
                        <td style="width:50px">
                            Health Check Service <br />(
                            @foreach (var dat in ViewBag.dt_rw)
                            {

                                @dat.InvDate


                            }
                            )
                        </td>

                        @*<td style="width:150px">
                        @foreach (var dat in ViewBag.dt_rwb)
                        {

                            @dat.Service<br />


                        }
                    </td>*@

                        <td style="width:30px;text-align:center">
                            <br />
                            @foreach (var dat in ViewBag.dt_rwb)
                            {



                                sumc += dat.Amount;
                            }
                            @sumc.ToString("#,##.00")
                        </td>

                    </tr>
                </table>
            </div>
            <div class="flex" style="background-color:#8adefa;font-size:20px">
                <div style="text-align:right;width:100%;margin-right: 35px">Total Price: @sumc.ToString("#,##.00")</div>
            </div>
            <span style="font-size: 14px;margin-top: 6px;margin-left: 40px">PAYMENT METHOD</span><br />
            <div class="flex" style="padding: 0px 40px ;margin-top: 4px">

                <table class="table table-bordered" style="font-size: 14px;text-align:center;margin-bottom: 1px !important">
                    <thead>
                        <tr>
                            <td class="tda" style="width: 240px;">BANK</td>
                            <td class="tda" style="width: 460px;">ACCOUNT NAME</td>
                            <td class="tda">ACCOUNT NUMBER</td>
                        </tr>
                    </thead>
                    <tr>
                        <td class="tda" style="">KBANK</td>
                        <td class="tda">BB SAHACLINIC</td>
                        <td class="tda">133-2-98645-3</td>
                    </tr>
                </table>
            </div>
            <div class="flex" style="padding: 0px 35px ;">
                @*<div class="flex-c-a" style="text-align: left !important; font-size: 20px; margin-top: 30px;background-color:red">
                <span>PAYMENT METHOD</span>
                <div class="flex mt-2">
                    <i class="fa fa-address-card" style="margin-right: 14px; color: #8adefa;margin-top: 6px "></i>
                    <div class="flex-c-a-a"><span>KBANK, NAME: BB SAHACLINIC </span><span>, ACC NO. 133-2-98645-3 </span></div>
                </div>
                <div class="flex mt-2">
                    <i class="fa fa-phone fa-flip-horizontal" style="margin-right: 20px; color: #8adefa; margin-top: 5px"></i>
                    <div class="flex-c-a-a"><span>065-9459882 , 098-227684</span></div>
                </div>
                <div class="flex mt-2">
                    <i class="fa fa-envelope" style="margin-right: 20px; color: #8adefa; margin-top: 5px "></i>
                    <div class="flex-c-a-a"><span>sahaclinic.bb@gmail.com</span></div>
                </div>

            </div>*@


                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:12%;top: 1285px;left:130px" />*@
                    <div>........................................</div>
                    <span style="font-size: 14px; position: absolute; left: 155px">@date</span>
                    <div>(........................................)</div>
                    <span>Receiver</span>
                </div>

                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:20%;top: 1200px;right:120px" />*@
                    <div>........................................</div>
                    @*<span style="font-size: 14px; position: absolute; right: 165px">@date</span>*@
                    <div>(........................................)</div>
                    <span>Receiver Bill</span>
                </div>


                <div class="flex-c-b" style="font-size: 18px; text-align: center; margin-top: 25px; margin-bottom: 10px;">
                    @*<img src="~/asset/img/signa.png" style="position:absolute;width:20%;top: 1200px;right:120px" />*@
                    <div>........................................</div>
                    @*<span style="font-size: 14px; position: absolute; right: 165px">@date</span>*@
                    <div>(........................................)</div>
                    <span>
                        Payment schedule
                    </span>
                </div>

            </div>
        </div>
    </div>
</div>