@{
    Layout = "";

}

@using System.Globalization;

@using bbsaha.Models.Certificate
<link href="~/css/sb-admin-2.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link href="~/css/fontawesome-free/css/all.css" rel="stylesheet" />

<script src="~/js/jquery.min.js" asp-append-version="true"></script>
<script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/Scripts/umd/popper.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-append-version="true" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4-4.6.0/jszip-2.5.0/dt-1.10.25/af-2.3.7/b-1.7.1/b-colvis-1.7.1/b-html5-1.7.1/b-print-1.7.1/cr-1.5.4/date-1.1.0/fc-3.3.3/fh-3.1.9/kt-2.6.2/r-2.2.9/rg-1.1.3/rr-1.2.8/sc-2.0.4/sb-1.1.0/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sarabun&display=swap" rel="stylesheet">
<style>
    .display-flex {
        display: flex;
        display: -webkit-box;
        margin-top: 10px
    }

    .flex-a {
        width: 35%;
    }

    .flex-b {
        width: 65%
    }

    .flex-in-a {
        width: 30%;
    }

    .flex-in-b {
        width: 70%
    }

    body, button, h1, h2, h3, h4, h5, input, option {
        font-family: 'Sarabun', sans-serif !important;
        /*font-weight: 800 !important;*/
        /*font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
    }
</style>


<div style="width: 100%;height: 140px;border-bottom: 2px solid #000 ;font-size: 18px;">
    <div class="display-flex">
        <div class="flex-a">
            @*<img src="~/asset/img/2022-09-28_13-38-51.png" style="width:90%;margin-top: 10px" />*@
            <img src="~/asset/img/logobbnew.png" style="width:90%;margin-top: 15px" />
        </div>
        <div class="flex-b">
            <span style="white-space:pre-line;text-align:center">
                บีบี สหคลินิก คลินิกเวชกรรม (BB SahaClinic)
                556/29‐30 หมู่บ้านบ่อวินนคร 2 ม.3 ต.บ่อวิน อ.ศรีราชา จ.ชลบุรี 20230
                @*556/29‐30 Bowin Nakorn 2 Village Moo 3 , Bowin Sub‐district, Si racha District, Chonburi Province 20230*@
                Tel. 065‐9459882 , 098‐227684 Email: sahaclinic.bb@gmail.com
                Tax ID 0‐2055‐64001‐73‐5
            </span>
        </div>

    </div>


</div>
@foreach (View_Datacer dat in ViewBag.data)
{
        <div style="width: 100%; height: auto; padding: 0px 40px;margin-top: 15px;font-size: 20px;">
        <div style="text-align:right">เลขที่ @dat.cerid - @dat.runnumber</div>
        <div style="width: 100%;text-align:center">
            <h4>ใบรับรองแพทย์ <br /> ตรวจสุขภาพคนต่างด้าว/แรงงานต่างด้าว</h4>         
        </div>

        <div style="text-align:right">สถานที่ตรวจ บีบีสหคลินิก </div>
        <div class="display-flex">
            <div class="flex-in-a" style="width:65%;">
            </div>
            <div class="flex-in-b" style="width: 5%;margin-left:2px">
                วันที่
            </div>
            <div class="flex-in-b" style="width: 5%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.CerDate.ToString("dd")</div>
            </div>
            <div class="flex-in-b" style="width: 5%;">
                เดือน
            </div>
            <div class="flex-in-b" style="width: 10%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.CerDate.ToString("MMMM", CultureInfo.CreateSpecificCulture("th"))</div>
            </div>
            <div class="flex-in-b" style="width: 5%;">
                พ.ศ.
            </div>
            <div class="flex-in-b" style="width: 5%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@(Convert.ToInt32(dat.CerDate.ToString("yyyy")) + 543)</div>
            </div>
        </div>

        <div style="text-align:right;width: 800px;background-color: red"></div>

        <div style="width: 100%; height: auto; padding: 0px 40px;margin-top: 10px;font-size: 18px;">
           
            <div style="text-align:left">๑.รายละเอียด /ประวัติส่วนตัวของผู้รับการตรวจสุขภาพ </div>

            <div class="display-flex">
                <div class="flex-in-a" style="width: 30%; text-align: center;">
                    ๑.๑ชื่อ-สกุล (ภาษาอังกฤษ)
                </div>
                <div class="flex-in-b" style="width: 70%;">
                    <div style="border-bottom: 1px dashed #000; width: 80%;text-align: left;">@dat.NametitleCus&nbsp;@dat.FirstNameCus&nbsp;@dat.lastNameCus</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">เลขประจำตัวบุคคล @dat.cerid</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">เลขที่ Passport @dat.IdcardCus &nbsp;วัน/เดือน/ปี เกิด</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">ที่อยู่ &nbsp; @dat.AddressCus </div>
                </div>
            </div>
            <div class="display-flex">
                <div class="flex-in-a" style="width: 30%; text-align: center;">
                    ๑.๒.ที่อยู่ปัจจุบัน อยู่บ้านเลขที่
                </div>
                <div class="flex-in-b" style="width: 70%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">หมู่ที่ &nbsp;  ตรอก &nbsp;  ซอย &nbsp;  ถนน &nbsp;  ตำบล &nbsp; </div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">อำเภอ &nbsp;  จังหวัด &nbsp; รหัส &nbsp; เบอร์โทร &nbsp; </div>
                </div>
            </div>
            <div class="display-flex">
                <div class="flex-in-a" style="width: 30%;">
                    ๒.ข้อมูลนายจ้าง/สถานประกอบการ
                </div>
                <div class="flex-in-b" style="width: 40%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">ชื่อ-สกุล(นายจ้าง)@dat.FnameCom&nbsp;@dat.LnameCom</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">อยู่บ้านเลขที่ &nbsp; หมู่ที่ &nbsp;ตรอก </div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">อำเภอ &nbsp; จังหวัด &nbsp;รหัส &nbsp;เบอร์โทร </div>
                </div>                
                <div class="flex-in-a" style="width: 30%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">สถานประกอบการ</div>
                </div>
            </div>
            <div class="display-flex">
                <div class="flex-in-a" style="width: 30%;">
                    ๓.ข้อมูลแพทย์ผู้ตรวจ
                </div>
                <div class="flex-in-b" style="width: 40%;">
                    <div style="border-bottom: 1px dashed #000; width: 80%;text-align: left;">นายแพทย์ @dat.FnameCom&nbsp;@dat.LnameCom</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">ใบอนุญาตประกอบวิชาชีพเวชกรรมเลขที่ &nbsp;20110000965</div>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">ที่อยู่ 556/29-30 หมู่ที่ ๓ ตำบลบ่อวิน อำเภอศรีราชา จังหวัดชลบุรี &nbsp;20230 </div>
                </div>
                <div class="flex-in-a" style="width: 30%;">
                    <div style="border-bottom: 0px dashed #000; width: 100%;text-align: left;"></div><br/>
                    <div style="border-bottom: 1px dashed #000; width: 100%;text-align: left;">@dat.NameClinic</div>
                </div>
            </div>

            <div class="display-flex">
                <div style="border-bottom: 0px dashed #000; height: 22px; width: 100%; text-align: center;">ผลการตรวจสุขภาพ</div>                
            </div>
            <div class="display-flex">
                <div class="flex-in-a" style="width: 8%;">
                    น้ำหนักตัว
                </div>
                <div class="flex-in-a" style="width: 5%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.WeightCus</div>
                </div>
                <div class="flex-in-a" style="width: 8%;">
                    สีผิว
                </div>
                <div class="flex-in-a" style="width: 5%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.WeightCus</div>
                </div>
                <div class="flex-in-b" style="width: 10%;">
                    กก. &nbsp;&nbsp;&nbsp;ส่วนสูง
                </div>
                <div class="flex-in-b" style="width: 7%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.HeightCus</div>
                </div>
                <div class="flex-in-b" style="width: 5%;">
                    ซม.
                </div>
                <div class="flex-in-b" style="width: 11%;margin-left:2px">
                    ความดันโลหิต
                </div>
                <div class="flex-in-b" style="width: 7%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.blood_pressureCus</div>
                </div>
                <div class="flex-in-b" style="width: 14%;">
                    มม.ปรอท &nbsp;&nbsp;&nbsp;ชีพจร
                </div>
                <div class="flex-in-b" style="width: 7%;">
                    <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.PulseCus</div>
                </div>
                <div class="flex-in-b" style="width: 10%;">
                    ครั้ง/นาที
                </div>
            </div>
            <div class="display-flex" text-align: left;>
                <div class="flex-in-a" style="width: 30%">
                    สภาพร่างกาย&nbsp;&nbsp;&nbsp;จิตใจทั่วไป
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                        <div class="display-flex">
                            <div style="border-bottom: 1px dashed #000; height: 22px; width: 80%; text-align: center;"></div>
                        </div>
                </div>
            </div>
            <div class="display-flex" text-align: left;>
                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" text-align: left;>
                    ผลการตรวจวัณโรค
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ผิดปกติ/ให้รักษา
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ระยะอันตราย
                </div>
            </div>

            <div class="display-flex" text-align: left;>
                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" text-align: left;>
                    ผลการตรวจโรคเรื้อน
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ผิดปกติ/ให้รักษา
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ระยะติดต่อ/อาการเป็นที่รังเกียจ
                </div>

            </div>

            <div class="display-flex" >
                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" >
                    ผลการตรวจโรคเท้าช้าง
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ผิดปกติ/ให้รักษา
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>อาการเป็นที่รังเกียจ
                </div>
            </div>

            <div class="display-flex" >
                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" >
                   ผลการตรวจโรคซิฟิลิส
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ผิดปกติ/ให้รักษา
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ระยะที่ ๓
                </div>
            </div>

            <div class="display-flex">
                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" >
                  ผลการตรวจสารเสพติด
                </div>
                <div class="flex-in-b" text-align: left; style="width: 70%;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ผิดปกติ/ให้รักษา
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ให้ตรวจยืนยัน
                </div>
            </div>
            <div class="display-flex">

                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" >
                   ผลการตรวจโรคพิษสุราเรื้อรัง
                </div>
                <div class="flex-in-a" >
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปกติ
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ปรากฎอาการ                  
                </div>

            </div>
            <div class="display-flex">

                <div class="flex-in-a" style="width: 5%">
                </div>
                <div class="flex-in-a" ;>
                    ผลการตรวจการตั้งครรภ์
                </div>
                <div class="flex-in-a" >
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ไม่ตั้งครรภ์
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>ตั้งครรภ์                   
                </div>

            </div>
            <div class="display-flex">
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-b" style="width: 30%; text-align: left">
                    ผลการตรวจอื่นๆ (ถ้ามี) 
                </div>
                <div class="flex-in-b" style="width: 70%; text-align: left">
                    <div class="display-flex">
                        <div style="border-bottom: 1px dashed #000; height: 22px; width: 80%; text-align: center;"></div>
                    </div>
                </div>
            </div>

            <div class="display-flex">
                <div style="border-bottom: 0px dashed #000; height: 22px; width: 100%; text-align: center;">สรุปความคิดเห็นแพทย์</div>
            </div>
            <div class="display-flex" >
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-a" >
                    1 )&nbsp;<input type="checkbox" id="checkId">&nbsp;สุขภาพสมบูรณ์ดี
                </div>
                <div class="flex-in-a" >
                    <span class="checkmark"></span>
                    <span class="checkmark"></span>
                    <span class="checkmark"></span>
                </div>
            </div>

            <div class="display-flex" >
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-a" style="width: 100%">
                    2 )&nbsp;<input type="checkbox" id="checkId"> ผ่านการตรวจสุขภาพ แต่ต้องให้การรักษา ควลบคุม ติดตามอย่างต่อเนื่อง
                </div>
            </div>
            <div class="display-flex" >
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-b" style="width: 50%; text-align: center;">
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>&nbsp;วัณโรค
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>&nbsp;โรคเรื้อน
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>&nbsp;โรคเท้าช้าง
                    <input type="checkbox" id="checkId"><span class="checkmark"></span>&nbsp;โรคซิฟิลิส
                </div>
            </div>
            <div class="display-flex">
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-a" text-align: left; style="width: 50%;">
                    3 )&nbsp;<input type="checkbox" id="checkId"> ไม่ผ่านการตรวจสุขภาพเนื่องจาก
                </div>
            </div>
            <div class="display-flex" >
                <div class="flex-in-b" style="width: 5%">
                </div>             
                <div class="flex-in-b" text-align: left; style="width: 75%; text-align:left;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.1&nbsp;ร่างกายทุพพลภาพจนไม่สามารถประกบการหาเลี้ยงชีพได้ /จิตฟั่นเฟือน ไม่สมประกอบ
                  
                </div>
            </div>
            <div class="display-flex">
                <div class="flex-in-b" style="width: 5%">
                </div>
                <div class="flex-in-b" text-align: left; style="width: 75%; text-align: left;">

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.2&nbsp;เป็นโรคไม่อนุญาตให้ทำงาน และไม่ให้การประกันสุขภาพ (ตามประกาศกระทรวงสาธารณสุขฯ)
                </div>
            </div>
            @*<div class="display-flex">
                <div class="flex-in-a" style="width: 100%">
                    <div style="border-bottom: 1px dashed #000; width: 100%; text-align: center; height: 20px;"></div>
                </div>
        </div>*@
        </div>

        <div class="display-flex" style="margin-top:40px;text-align:right">
            <div class="flex-in-b" style="width: 55%">
            </div>
            <div class="flex-in-a" style="width: 4%">
                ลงชื่อ
            </div>
            <div class="flex-in-a" style="width: 25%;text-align:left !important;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px;margin-bottom: 15px">
                    @*<img src="~/asset/img/chonlapark.png" style="position: absolute;width: 10%;bottom: 395px;right: 280px" />*@
                </div>
                <div style="border-bottom: 0px dashed #000; width: 100%; height: 22px; text-align: center"> (@dat.titleCom&nbsp;@dat.FnameCom&nbsp;@dat.LnameCom)</div>
            </div>
            <div class="flex-in-a" style="width: 20%; text-align: left">
                แพทย์ผู้ตรวจร่างกาย
            </div>
            <div class="display-flex" style="margin-top:20px">
                <div class="flex-in-a" style="width: 10% ;border-bottom: 0px dashed #000">
                </div>
                <div class="flex-in-b" style="width: 100%">
                </div>
            </div>
        </div>


        <div class="display-flex" style="margin-top: 50px">
            @*<div class="flex-in-a" style="width: 65%;">
            </div>
            <div class="flex-in-b" style="width: 5%;margin-left:2px">
                วันที่
            </div>
            <div class="flex-in-b" style="width: 5%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.CerDate.ToString("dd")</div>
            </div>
            <div class="flex-in-b" style="width: 5%;">
                เดือน
            </div>
            <div class="flex-in-b" style="width: 10%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@dat.CerDate.ToString("MMMM", CultureInfo.CreateSpecificCulture("th"))</div>
            </div>
            <div class="flex-in-b" style="width: 5%;">
                พ.ศ.
            </div>
            <div class="flex-in-b" style="width: 5%;">
                <div style="border-bottom: 1px dashed #000; width: 100%; height: 22px; text-align: center">@(Convert.ToInt32(dat.CerDate.ToString("yyyy")) + 543)</div>
        </div>*@
        </div>



        <div class="display-flex" style="margin-top:20px">
            <div class="flex-in-a" style="width: 10% ;border-bottom: 1px dashed #000">
                (หมายเหตุ 
            </div>
            <div class="flex-in-b" style="width: 100%">
                ใบรับรองแพทย์ฉบับนี้มีอายุ 60 วัน นับตั้งแต่วันที่ตรวจร่างกาย ยกเว้น กรณีใช้สำหรับประกันสุขภาพมีอายุ 1 ปี)               
            </div>
        </div>



    </div>

}